h1{font-size: 32px;}
h2{font-size: 26px;}
.btn-verificar{
  padding: 4px 8px;
  background: blue;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
header{
  padding: 0 0 60px 0;
  background: #f2f2f2;
}
footer{
  padding: 0 0 60px 0;
  background: #f2f2f2;

}