h1{font-size: 34px!important; text-align: center; padding: 8px 0;}
h2{font-size: 30px!important; text-align: center; padding: 8px 0;}
h4{font-size: 24px!important; text-align: center; padding: 8px 0;}
h4{font-size: 16px!important; text-align: center; padding: 8px 0;}
label{margin: 0;}
p{margin: 0;}
.bold{font-weight: bold;}
.btn-verificar{
  padding: 4px 8px;
  background: blue;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  width: 100px;
  float: right;
}
.btn-verificar a{color: white;}
.btn-verificar a:hover{text-decoration: none;}
header{
  padding: 0 0 60px 0;
  background: #f2f2f2;
}
footer{
  padding: 0 0 60px 0;
  background: #f2f2f2;
}
.line{
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid #cecece;
}
.item-carro{
  display: grid;
  margin: 0 24px 16px 0;
}
.item-carro .carac{
  font-size: 12px;
}
.item-carro .carac-item{
  font-weight: bold;
  font-size: 16px;
}
.carac-item{
  font-weight: bold;
}
